.container-consultar {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.container-dados{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

  /* botão Voltar */
.btn-back{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  height: 30px;
  margin-right: 82%;
}

  /* Titulo "Dados do Aluno" */
#title{
  margin-top: 0px;
}

  /* Botões Opções */
.btn-size-header {
  display: flex;
  justify-content: center;
  width: 20%;
  margin: 0 auto;
  font-size: 18px;
}

.icon-data{
  margin-right: 5px;
}

.btn-save {
  background-color: rgb(58, 161, 58);
}

.btn-deleted {
  background-color: rgb(221, 36, 36);
}

.input-title{
  font-weight: bold;
  margin-bottom: 2px;
}

.input-border{
  padding: 10px;
  border-radius: 10px;
  border: solid 2px #ccc;
  background-color: var(--inputbgc);
  width: 20%;
  color: var(--white);
  margin-bottom: 5px;
}
