.HeaderNotification { 
  color: white;
}

.notification{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  height: 35px;
  border-radius: 20px;
  background: var(--cardsbackground);
  margin-bottom: 10px;
}

.notification h4{
  color: var(--white);
  
}
.NotificationCount{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}

.ctn-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.ctn-buttons button{
  width: 10%;
  font-size: 16px;
}


.NotificationCount {
  color: var(--white);
  background-color: red;
  border-radius: 50%;
}

.NotificationCount span {
  padding: 5px;
}

.notification-card {
  margin: 0 auto;
  width: 90%;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cardsbackground);
  color: var(--white);
  margin-bottom: 5px;

}

.notification-content{
  width: 90%;
  
}

.notification-buttons{  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.notification-buttons button{
  width: 30px;
  height: 30PX;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
}

.btn-mark-read{
  background-color: green;
}

