:root {
  /* Cores Geral: */
  --white: #fff;
  --black: black;
  --red:red;
  --details: #facb23;
  --inputbgc: #212121;
  --bckgroundgeral: #212121;
  --cardsbackground: #1f1f1f;
  --cinzaclaro: #ccc;

  /* Cores Página Alunos: */
  --tb-border: #ccc;
  --text-color: #ccc;
  --tb-titles-bgc: #44444469;
  --tb-hover-line: #202020;
  --tb-line: #00000069;

  /* Cores Página de login: */
  --cnt-login-bgc: #292929;
  --cnt-age-bgc: #292929;
  --cnt-login-shadow: #0000001a;

  --background-color: #f3f4f6;
  --card-background: #ffffff;

  --success: #22c55e;
  --warning: #f59e0b;
  --danger: #ef4444;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
}


select{
  background-color: #0a0a0a;
}

.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

/* focus input global */
#input-fc:focus {
  color: var(--white);
  background-color: var(--inputbgc);
  outline-color: #ffee00;
  box-shadow: -3px -3px 15px #ffee00;
  transition: 0.1s;
  transition-property: box-shadow;
}

.main-content {
  flex: 1;
  padding-right: 1%;
  margin-left: 1%;

  background-color: #0a0a0a;
  height: 100vh;
  overflow-y: auto;
}

.main-content h1 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--white);
}

.container-bg {
  padding: 10px;
  background-color: var(--black);
  border-radius: 20px;
  height: 98%;
  color: var(--white);
}

/* Posição do botão de Filtro ao lado do input de Pesquisa */
.position-search-filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

/* scrollbar custom */

::-webkit-scrollbar {
  width: 5px;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: var(--details);
  border-radius: 100px;
}

.sidebar-pc {
  display: block;
}
.sidebar-mob {
  display: none;
}

.header-aulas {
  display: block;
}

.header-mobile {
  display: none;
}

.btn-cadrastro{
  display: block;
}
.btn-cadastro-mobile{
  display: none;
}


@media (max-width: 780px) {
  .main-content {
    padding: 0;
    background-color: #0a0a0a;
    height: 100vh;
    width: 100%;
    border-radius: 0;
    margin: 0;
  }

  /* Reponsividade para a Barra de pesquisa*/
  .header-aulas {
    display: none !important;
  }

  .header-mobile {
    display: block !important;
  }

  .btn-cadrastro{
    display: none !important;
  }
  .btn-cadastro-mobile{
    display: block !important;
  }

  /* ----------------- */
  .sidebar-pc {
    display: none;
  }
  .sidebar-mob {
    display: block;
  }

  .fullscreen-btn{
    display: none;
  }

  /* Reponsividade Mobile*/
  .ctn-position-search {
    margin: 0 auto;
  }
  .input {
    width: 285px;
  }
  .cadastro-aluno .header {
    margin-bottom: 25px;
  }
  .cadastrar-btn,
  .btn-filter {
    width: auto;
    margin: 0;
  }

  .btn-schedule {
    margin: 0 auto;
    width: 40%;
  }

  .position-search-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    gap: 10px;
  }

  .cadastrar-btn,
  .btn-filter,
  .btn-schedule {
    width: auto;
    margin: 0;
    font-size: 15px;
  }

  .btn-container .btn-print{
    width: 20%;
    margin: 0;
  }

  .dropdown-container {
    left: 50%;
    transform: translateX(-50%);
  }

  .cadastro-aluno .header {
    margin-bottom: 40px;
  }

  

  body {
    overflow-x: hidden;
  }

  .header .position-search-filter{
    margin-top: 40px;
  }



  


}
